<div style="
  width: 100%;
  border-bottom: solid 1px rgba(0,0,0,.2);
  ">
  <img src="https://raw.githubusercontent.com/Rocketseat/bootcamp-gostack-desafio-03/master/.github/logo.png"
  alt="fastfeet"
  style="
  display: block;
  width: 300px;
  text-align: center;
  padding: 15px;
  "/>
</div>
