{{> header}}
<div style="text-align: left; margin: 0;">
    <strong
    style="
      display: block;
      font-size: 20px;
      margin: 25px 0;
    ">Olá, <span style="color: #7D40E7;">{{ name }}</span></strong>
    <p style="display: block;">
      Uma nova encomenda foi cadastrada e está disponível para retirada,
      confira a descrição abaixo e mais informações em fastfeet.com.
    </p>
    <p style="display: block;">
      <strong>Produto:</strong> {{ product }}
    </p>
</div>

